help >> This help message
speed >> Message Send Speed
setting >> Send settings
autoleaveroom:on >> Turn on forced auto leave
autoleaveroom:off >> Turn off forced auto leave
macro:num:text >> Send text the specified number of times

[Group only]

url >> Send an invitation link
set >> Set the read point
read >> Send the person who has read the read point
